<div class="navbar_box">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a routerLink="" class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="role" class="nav-link" href="#">Update Role</a>
        </li>
        <li class="link nav-item">
            <i class="fa-regular fa-user fs-2"></i>
            <div class="dropdown-contents">
                <ul>
                    <li><a routerLink="profile" href="">Profile</a></li>
                    <li><a routerLink="login" href="">Logout</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>